* {
  box-sizing: border-box;
}

body {
 background-image: url(background.jpg);
 background-size: 100% 125%;
 background-repeat: no-repeat;
}

h3 {
  color: white;
  display: inline-block;
}

p {
  font-weight: bold;
  color: white;
  line-height: 7px;
  text-align: left;
}

button {
  font-weight: bold;
}

.container {
  width: 61%;
  height: 870px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 2%;
  margin: auto;
  margin-right: 18%;
  margin-top: 1%;
  text-align: center;
}

.container2 {
  margin: auto;
    width: 81%;
    height: 35px;
    background-color: lime;
    padding: 7px;
}

.gino {
  width: 31%;
  margin: auto;
  margin-left: 9.5%;
  text-align: left;
  height: 40px;;
}

.gino1 {
  margin-left: 10%;
}

.gino2 {
  background-color: orange;
  margin: auto;
  width: 25%;
  height: 35px;
  margin-left: 9.9%;
  border-radius: 5px;
}

.gino3 {
  background-color: lime;
  margin: auto;
  width: 45%;
  height: 35px;
  margin-left: 9.9%;
  border-radius: 5px;
}

.gino4 {
  background-color: red;
  margin: auto;
  width: 15%;
  height: 35px;
  margin-left: 9.9%;
  border-radius: 5px;
}


#logo {
  width: 27%;
  height: 17%;
  margin-top: 4%;
  margin-left: 1%;
}

#titolo1 {
  color: lime;
  font-weight: bold;
  line-height: 1%;
  letter-spacing: 1px;
}


#chargeline {
  color: orange;
}

#chargeline3 {
  color: lime;
}

#chargeline4 {
  color: red;
}
